* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  background-image: linear-gradient(#7705c7 0%, #7705c7 20%, #7705c7 60%, #050ac7 100%); }

/*# sourceMappingURL=style.css.map */
