* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-image: linear-gradient(rgb(119, 5, 199) 0%, rgb(119, 5, 199) 20%, rgb(119, 5, 199) 60%, rgb(5, 10, 199) 100%);
}